<h1>{{ title }}</h1>

<ul>
  {{#each users}}
    <li>
        {{ StudentNumber }} / {{ Name }} / {{Class}} 
        / {{Major}} / {{DateofEnter}} / {{Email}}
      </a>
    </li>
  {{/each}}
</ul>