<h1>{{ title }}</h1>

<table>
    <tr>
        <td>Flight_Number</td>
        <td>Leg_Number</td>
        <td>Leg_Date</td>
        <td>NO_OF_AVAILABLE_SEATS</td>
        <td>Airplane_Id</td>
        <td>DEPARTURE_TIME</td>
        <td>ARRIVAL_TIME</td>
    </tr>
    <!-- dept_res 데이터가 있을 때 마다 반복-->
    {{#each leg_instance}}
    <form method="post"> <!--post에서처리-->
        <tr>
            <!-- input tag를 사용하여 입력 가능한 형태로 변경함(다른 방법도 검색하면 있음) -->
            <td><input type="text" name="flight_number" value='{{Flight_Number}}' readonly></td>
            <td><input type="number" name="leg_number" value={{Leg_Number}} readonly></td>
            <td><input type="text" name="leg_date" value='{{Leg_Date}}' readonly></td>
            <td><input type="number" name="no_of_available_seats" value={{NO_OF_AVAILABLE_SEATS}} placeholder={{NO_OF_AVAILABLE_SEATS}}></td>
            <td><input type="number" name="airplane_id" value={{Airplane_Id}} placeholder={{Airplane_Id}}></td>
            <td><input type="datetime" name="departure_time" value='{{DEPARTURE_TIME}}' placeholder={{DEPARTURE_TIME}}></td>
            <td><input type="datetime" name="arrival_time" value='{{ARRIVAL_TIME}}' placeholder={{ARRIVAL_TIME}}></td>
            <!-- formation 속성을 활용하여 입력한 값을 넘겨줌) -->
            <td><input type="submit" value="수정" formaction="/admin/flight/modify"></td>
        </tr>
    </form>   
    {{/each}}
</table>