<h1>{{ title }}</h1>

<table>
    <tr>
        <td>Flight_Number</td>
        <td>Leg_Number</td>
        <td>Leg_Date</td>
        <td>Seat_Number</td>
        <td>Customer_Id</td>
        <td>User_Name</td>
        <td>User_Phone</td>
        <td>Amount</td>
    </tr>
    {{#each reserve}}
    <tr>
        <td>{{Flight_Number}}</td>
        <td>{{Leg_Number}}</td>
        <td>{{Leg_Date}}</td>
        <td>{{Seat_Number}}</td>
        <td>{{Customer_Id}}</td>
        <td>{{User_Name}}</td>
        <td>{{User_Phone}}</td>
        <td>{{Amount}}</td>
    </tr>
    {{/each}}
</table>
<br>
<button type="button" class="navyBtn" onclick="location.href='/user/reserve/insert'">삽입</button>
<button type="button" class="navyBtn" onclick="location.href='/user/reserve/delete'">삭제</button>
<br><br>
<form name="reserve_id" method="post" action="/">
    <input id="customer_id" name ="customer_id" type = "text" required placeholder = "Customer_Id">
    <button type="submit" formaction="/user/reserve">예약 조회</button><br><br>
    <table>
    {{#each each_reserve}}
    <tr>
        <td>{{Flight_Number}}</td>
        <td>{{Leg_Number}}</td>
        <td>{{Leg_Date}}</td>
        <td>{{Seat_Number}}</td>
        <td>{{Customer_Id}}</td>
        <td>{{User_Name}}</td>
        <td>{{User_Phone}}</td>
        <td>{{Amount}}</td>
    </tr>
    {{/each}}
    </table>
</form>